<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>308214378113-1rffr0erfpo7gri6bjd61t32ht2lsvah.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.308214378113-1rffr0erfpo7gri6bjd61t32ht2lsvah</string>
	<key>API_KEY</key>
	<string>AIzaSyDLotmc_Au0CA-sDcfKeGezFJOdp-jJhhk</string>
	<key>GCM_SENDER_ID</key>
	<string>308214378113</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.studyBuddy</string>
	<key>PROJECT_ID</key>
	<string>study-budy-cf588</string>
	<key>STORAGE_BUCKET</key>
	<string>study-budy-cf588.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:308214378113:ios:e11a7ef8d2140dac906780</string>
</dict>
</plist>